.dark-model
{
    background-color: rgb(23, 29, 32);
    .top-nav-pc , .top-nav-mobile
    {
        background-color: rgb(23, 29, 32);
        .left-name , .center-name
        {
            color: rgb(221, 221, 221);
        }
    }
    .top-nav-pc
    {
        .menu-list
        {
            .menu-list-item
            {
                color: lightgray;
            }
            .menu-list-item:hover
            {
                background-color: rgba(85, 85, 85, 0.2)        
            }
            .menu-list-item-active
            {
                background-color: rgb(51, 51, 51)            
            }
        }
        .right-button .dark-button i
        {
            color: #ffffff;
        }
    }
    .top-nav-mobile
    {
        .menu-fold i
        {
            color: #ffffff;
        }
    }
    .app-mask
    {
        .login-box , .register-box
        {
            background-color: #2f3133;
            .top-function
            {
                .left-back i
                {
                    color: #ffffff;
                }
            }
            .top-tips
            {
                .left-span
                {
                    color: #ffffff;
                }
            }
            .input-list
            {
                .input-item , .input-password
                {
                    .input-top-div span:nth-child(1)
                    {
                        color: #ffffff;
                    }
                }
                .input-item , .input-password .input-password-lable
                {
                    input
                    {
                        background-color: #3f3f42;
                        caret-color: #bd7373;
                        color: #9c9c9c;
                    }
                    input:hover , input:focus
                    {
                        box-shadow: 0 0 0.3rem rgba(33, 150, 243, 0.5);
                        border: solid 1px rgba(33, 150, 243, 0.4);
                        background-color: rgba(25, 24, 24, 0.87);
                    }
                }
                .input-show-password
                {
                    color: #ffffff;
                }
            }
            .confirm-button
            {
                background-color: #272727;
            }
            .confirm-button:hover
            {
                background-color: #535353;
            }
            .other-login-tips
            {
                color: #ffffff;   
            }
            .other-login-tips::before , .other-login-tips::after
            {
                background-color: #676363;
            }
            .other-login-list i
            {
                color: #ffffff;
            }
        }
        .user-info-box
        {
            background-color: #171719;
            .user-top-box
            {
                .left-dl-model i
                {
                    color: #ffffff;
                }
            }
            .drawer-menu
            {
                background-color: #1b1e21;
            }
        }
    }
    .router-content
    {
        .index-content
        {
            .index-carousel-box
            {
                .header-tips
                {
                    .header-left-tips
                    {
                        color: #ffffff;
                    }
                    .header-right-switch
                    {
                        .switch-info
                        {
                            color: rgb(173, 173, 173);
                        }
                        .switch-box .switch-radius
                        {
                            background-color: rgb(177, 179, 180);
                        }
                        .switch-close
                        {
                            background-color: rgb(60, 65, 68);
                        }
                        .switch-open
                        {
                            background-color: rgb(97, 101, 103);
                            .switch-radius
                            {
                                transform: translateX(1.3rem);
                            }
                        }
                    }
                }
            }
            .index-container
            {
                .left-container-article , .right-lately-container
                {
                    .title-function .left-title-span
                    {
                        color: #ffffff;
                    }
                }
                .left-container-article
                {
                    .index-article-list li
                    {
                        background-color: rgb(47, 49, 51);
                        .article-item-content
                        {
                            p , .time-span , .introduction-content
                            {
                                color: #ffffff;
                            }
                        }
                        .bottom-function
                        {
                            button:hover
                            {
                                background-color: rgba(253, 218, 218, 0.1);
                            }
                            .right-state div
                            {
                                span , i
                                {
                                    color: rgb(201, 201, 201);
                                }
                            }
                        }
                    }
                }
                .right-lately-container
                {
                    .gossip-data-list .gossip-box
                    {
                        background-color: rgb(47, 49, 51);
                        .gossip-title .gossip-title-left .gossip-title-left-info
                        {
                            div span:nth-child(1)
                            {
                                color: #ffffff;
                            }
                        }
                        .gossip-button-box button
                        {
                            background-color: rgb(43, 43, 43);
                            color: #ffffff;
                        }
                        .gossip-comment-box .gossip-comment-list
                        {
                            .comment-box
                            {
                                border-top: solid 1px rgb(158, 158, 158);
                                span
                                {
                                    color: #ffffff !important;
                                }
                            }
                        }
                    }
                    .visitor-box
                    {
                        background-color: rgb(47, 49, 51);
                        .visitor-name
                        {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
        .article-content .article-container
        {
            background-color: rgb(47, 49, 51);
            .top-info , span
            {
                color: #ffffff !important;
            }
            .article-vistor
            {
                .article-vistor-title
                {
                    border-top: solid 1px rgb(158, 158, 158);
                    
                }
                .article-vistor-comment-list
                {
                    border-top: solid 1px rgb(158, 158, 158);
                }
                .comment-box .comment-content-render
                {
                    background-color: #222222;
                }
            }
        }
        .say-gossip .say-gossip-list .gossip-box
        {
            background-color: rgb(47, 49, 51);
            .gossip-title .gossip-title-left .gossip-title-left-info
            {
                div span:nth-child(1)
                {
                    color: #ffffff;
                }
            }
            .gossip-button-box button
            {
                background-color: rgb(43, 43, 43);
                color: #ffffff;
            }
            .gossip-comment-box .gossip-comment-list
            {
                .comment-box
                {
                    border-top: solid 1px rgb(158, 158, 158);
                    span
                    {
                        color: #ffffff !important;
                    }
                }
            }
        }
        .guestbook .guestbook-comment-list .gossip-box
        {
            background-color: rgb(47, 49, 51);
            .gossip-title .gossip-title-left .gossip-title-left-info
            {
                div span:nth-child(1)
                {
                    color: #ffffff;
                }
            }
            .gossip-button-box button
            {
                background-color: rgb(43, 43, 43);
                color: #ffffff;
            }
            .gossip-comment-box .gossip-comment-list
            {
                .comment-box
                {
                    border-top: solid 1px rgb(158, 158, 158);
                    span
                    {
                        color: #ffffff !important;
                    }
                }
            }
        }
        .guestbook 
        {
            .guestbook-editor-box
            {
                background-color: rgb(47, 49, 51);
            }
            .guestbook-comment-list
            {
                background-color: rgb(47, 49, 51);
                .comment-box
                {
                    border-bottom: solid 1px rgb(158, 158, 158);
                    span
                    {
                        color: #ffffff !important;
                    }
                    
                }
            }
        }
        .links-content
        {
            .links-title
            {
                color: #eeeeee;
            }
            .rules-content
            {
                background-color: rgb(47, 49, 51);
            }
            .links-friend-list .links-friend-item
            {
                background-color: rgb(47, 49, 51);
                p
                {
                    color: #ffffff;
                }
            }
        }
    }
    .editer-render
    {
        blockquote
        {
            border-left: 0.3rem solid #676e72;
            background-color: #414141;
            color: #ffffff;
        }
        hr
        {
            border-top: 0.1rem solid #ccc;
        }
        table
        {
            border: 0.08rem solid rgb(100, 100, 100);
            th , tr
            {
                border-top: 0.08rem solid rgb(100, 100, 100);
                border-right: 0.08rem solid rgb(100, 100, 100);
            }
            th
            {
                background-color: #555555;
            }
            td
            {
                border-right: 0.08rem solid rgb(100, 100, 100);
            }
            th:last-child , td:last-child{
                border: none;
            }
        }
        h1 , h2 , h3 , h4 , h5 , p , table , pre
        {
            color: #ffffff;
        }
    }
}
.light-model
{
    background-color: #f4f4f4;
    .top-nav-pc , .top-nav-mobile
    {
        background-color: #f4f4f4;
        .left-name , .center-name
        {
            color: rgb(97, 97, 97);
        }
    }
    .top-nav-pc
    {
        .menu-list
        {
            .menu-list-item
            {
                color: rgb(126, 126, 126);
            }
            .menu-list-item-active
            {
                background-color: rgba(80, 80, 80, 0.2)            
            }
            .menu-list-item:hover
            {
                background-color: rgb(231, 231, 231);
            }
        }
        .right-button .dark-button i
        {
            color: rgb(111, 111, 111);
        }
    }
    .top-nav-mobile
    {
        .menu-fold i
        {
            color: rgb(111, 111, 111);
        }
    }
    .app-mask
    {
        .login-box , .register-box
        {
            background-color: #ffffff;
            .top-function
            {
                .left-back i
                {
                    color: rgb(111, 111, 111);
                }
            }
            .input-list
            {
                .input-item , .input-password
                {
                    .input-top-div span:nth-child(1)
                    {
                        color: black;
                    }
                }
                .input-item , .input-password
                {
                    input
                    {
                        background-color: #f3f3f4;
                    }
                    input:hover , input:focus
                    {
                        box-shadow: 0 0 0.3rem rgb(147, 182, 211);
                        border: solid 1px rgb(89, 164, 240);
                    }
                }
                .input-show-password
                {
                    color: rgb(111, 111, 111);
                }
            }
            .confirm-button
            {
                background-color: #0478be;
            }
            .confirm-button:hover
            {
                background-color: #0688da;
            }
            .other-login-tips::before , .other-login-tips::after
            {
                background-color: #dad9d9;
            }
            .other-login-list i
            {
                color: rgb(111, 111, 111);
            }
        }
        .user-info-box
        {
            background-color: #242663;
            .user-top-box
            {
                .left-dl-model i
                {
                    color: rgb(255, 255, 255);
                }
            }
            .drawer-menu
            {
                background-color: #1a1d53;
            }
        }
    }
    .router-content
    {
        .index-content
        {
            .index-carousel-box
            {
                .header-tips
                {
                    .header-right-switch
                    {
                        .switch-info
                        {
                            color: rgba(0, 0, 0, 0.6);
                        }
                        .switch-box .switch-radius
                        {
                            background-color: #ffffff;
                        }
                        .switch-close
                        {
                            background-color: rgb(220, 223, 230);
                        }
                        .switch-open
                        {
                            background-color: rgb(64, 158, 255);
                            .switch-radius
                            {
                                transform: translateX(1.3rem);
                            }
                        }
                    }
                }
            }
            .index-container
            {
                .left-container-article .index-article-list li
                {
                    background-color: #ffffff;
                    .article-item-content
                    {
                        .time-span
                        {
                            color: rgba(0, 0, 0, 0.6);
                        }
                        .introduction-content
                        {
                            color: rgba(0, 0, 0, 0.87);
                        }
                    }
                    .bottom-function
                    {
                        button:hover
                        {
                            background-color: rgb(255, 247, 247);
                        }
                        .right-state div
                        {
                            span , i
                            {
                                color: rgb(115, 115, 115);
                            }
                        }
                    }
                }
                .right-lately-container
                {
                    .gossip-data-list .gossip-box
                    {
                        background-color: #ffffff;
                        .gossip-button-box button
                        {
                            background-color: rgb(245, 245, 245);
                            color: #777777;
                        }
                        .gossip-comment-box .gossip-comment-list
                        {
                            .comment-box
                            {
                                border-top: solid 1px rgba(0, 0, 0, 0.12);
                            }
                        }
                    }
                    .visitor-box
                    {
                        background-color: #ffffff;
                    }
                }
            }
        }
        .article-content .article-container
        {
            background-color: #ffffff;
            .article-vistor
            {
                .article-vistor-title
                {
                    border-top: solid 1px rgba(0, 0, 0, 0.12);
                }
                .article-vistor-comment-list
                {
                    border-top: solid 1px rgba(0, 0, 0, 0.12);
                }
                .comment-box .comment-content-render
                {
                    background-color: #fcfcfc;
                }
            }
        }
        .say-gossip .say-gossip-list .gossip-box
        {
            background-color: #ffffff;
            .gossip-button-box button
            {
                background-color: rgb(245, 245, 245);
                color: #777777;
            }
            .gossip-comment-box .gossip-comment-list
            {
                .comment-box
                {
                    border-top: solid 1px rgba(0, 0, 0, 0.12);
                }
            }
        }
        .guestbook
        {
            .guestbook-editor-box
            {
                background-color: #ffffff;
            }
            .guestbook-comment-list
            {
                background-color: #ffffff;
                .comment-box
                {
                    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
                }
            }
            
        }
        .links-content
        {
            .rules-content
            {
                background-color: #ffffff;
            }
            .links-friend-list .links-friend-item
            {
                background-color: #ffffff;
                p
                {
                    color: rgba(0,0,0,.6);
                }
            }
        }
    }
    .editer-render
    {
        blockquote
        {
            border-left: 0.3rem solid #d0e5f2;
            background-color: #f1f1f1;
        }
        hr
        {
            border-top: 0.1rem solid #ccc;
        }
        table
        {
            border: 0.08rem solid #ccc;
            th , tr
            {
                border-top: 0.08rem solid #ccc;
                border-right: 0.08rem solid #ccc;
            }
            th
            {
                background-color: #f1f1f1;
            }
            td
            {
                border-right: 0.08rem solid #ccc;
            }
            th:last-child , td:last-child{
                border: none;
            }
        }
    }
}